.App {
  text-align: center;
}

.site-footer {
  text-align: center;
  background-color: #9A93C6;

}

.site-footer a {
  color: white;
}

.site-footer a:hover {
  color: #4F3180;
}

.btn-custom:active {
  transform: translateY(4px);
}

.player-details {
  border-color: #4F3180;
  border-style: outset;
  border-width: 2px;
  border-radius: 10px;
  font-weight: bold;
}

.points-style {
  color: #4F3180;
}

.isplaying-style {
  background-color: #9A93C6;
}

.score-block {
  width: 200px;
}